p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Styling for buttons */
button {
    border-style: solid;
    border-color: darkslategray;
    border-radius: 5px;
    background-color: olive;
    color: white;
    margin: 5px;
}

/* Display items with flex and center horizontally and vertically */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container properties + arrange items vertically */
.vertical-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-container {
    width: 100vw;
    height: 100vh;
}

/* Styles for the audio container*/
#audio-container {
    height: 300px;
    margin-top: 10px;
    background-color: beige;
}

/* Style for title text */
#title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cadetblue;
}

#cover-image {
    height: 100px;
    width: 150px;
}