/* Removes all padding and margins */
* {
    margin: 0;
    padding: 0;
}

/* Set font for the page and adds margin around all text */
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
}

/* Styling for buttons */
button {
    border-color: #c29163;
    border-radius: 5px;
    background-color: #F9B97F;
    color: white;
    padding: 4px;
    margin: 4px;
}

/* Changes color of button to show mouse is over it */
button:hover {
    background-color: #EAA239;
}

/* Display items with flex and center horizontally and vertically */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* Container properties + arrange items vertically */
.vertical-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Spaces content evenly on page */
.justify-space-around {
    justify-content: space-evenly;
}

/* Spaces buttons either side of cover image */
.play-options{
    width: 60px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Sets styling for main container (background of page) */
#main-container {
    width: 100vw;
    height: 100vh;
    background-color: #b9d2d6;
}

/* Styles for the audio container*/
#audio-container {
    height: 310px;
    width: 38%;
    margin-top: 10px;
    background-color: #d1e4be;
    border-radius: 10px;
    position: relative;
}

/* Style for title */
#title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #567B81;
    margin: 5px;
    margin-bottom: 400px;
    position: absolute;
}

/* All images are set to same height and width */
#cover-image {
    height: 125px;
    width: 125px;
}
